/* Main Stylesheet*/

/* responsive navbar css part */
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400&family=Courgette&family=Fredoka+One&family=Kaushan+Script&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  position: relative;
}

/* info-bar */

.infor-bar-container {
  top: 0;
  left: 0;
  border: solid;
  width: 100%;
  padding: 25px;
  background-color: rgba(7, 7, 66, 0.959);
}

.lis-logos ul li {
  padding-right: 15px;
  cursor: pointer;
  font-size: 10px;
}

.contact {
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 20px;
}

.contact ul li i {
  font-size: 10px;
}

.contact-phone {
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 20px;
}

.login {
  font-size: 15px;
}

@media screen and (max-width: 770px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-phone {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lis-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
}

/* Navbar begins */

.header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.logo-wrap img {
  align-items: center;
  cursor: pointer;
  height: 50px;
  text-decoration: none;
  font-size: 2rem;
}
.header .navigation ul li {
  float: left;
  position: relative;
}

.header .navigation ul li a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  padding: 20px;
  display: block;
  transition: all 0.2s ease;
}

.header .navigation ul li ul li a:hover {
  background-color: #a9a4a4;
}

.navigation ul {
  list-style: none;
}

.header .navigation ul li ul {
  position: absolute;
  left: 0;
  width: 120px;
  /* text-align: center; */
  background-color: #fff;
  display: none;
}

.header .navigation ul li ul li a {
  font-size: 17px;
  text-transform: capitalize;
}

.header .navigation ul li ul li ul {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  width: 130px;
}

.header .navigation ul li ul li {
  width: 100%;
}

.header .navigation ul li:hover > ul {
  display: initial;
  background-color: #fff;
  border-top: 1px solid rgb(85, 82, 82);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

/* hamburger */

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgb(6, 2, 2);
}

.hamburger {
  cursor: pointer;
  display: none;
  font-size: 30px;
}
@media screen and (max-width: 1024px) {
  .header .navigation ul li a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(14, 13, 13);
    padding: 15px;
    display: block;
    transition: all 0.2s ease;
  }
}
@media screen and (max-width: 768px) {
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger {
    display: block;
  }
  .header .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;
    transition: all 0.5s ease-in-out;
    background-color: darkgray;
  }

  .header .navigation.active {
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .header .navigation ul li {
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  .header .navigation ul li a {
    padding: 8px 30px 8px 10%;
  }

  .header .navigation ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  .header .navigation ul li ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  .header .navigation ul li ul li {
    background-color: inherit;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 4px;
    right: 0px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .logo-wrap img {
    align-items: center;
    cursor: pointer;
    height: 50px;
    margin: 5px;
    text-decoration: none;
    font-size: 2rem;
    /* flex-grow: 1; */
  }
}

@media screen and (max-width: 426px) {
  .logo-wrap img {
    align-items: center;
    cursor: pointer;
    margin: 5px;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 4px;
    right: 0px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
