
.slider {
    position: relative;
    /* top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%); */
    width: 100%;
    height: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 1;
}
.slides {
    display: flex;
    position: relative;
    top: 0;
    width: 20000px;
}


.slides.shifting {
    transition: left 0.2s ease-out;
}

.slide {
    height: 500px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;

    border-radius: 2px;
    text-align: center;
}

.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: 150px;
}
.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: 150px;
}
.prev:active,
.next:active {
    transform: scale(0.8);
}

@media only screen and (max-width: 600px) {
    .prev {
        left: 50px;
    }

    .next {
        right: 50px;
    }
}

.slide {
    background-image: url('../../assets/img/page-banner.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: #ffffff;
}

.slide h2 {
    font-weight: bold;
    font-size: 45px;
    letter-spacing: -2px;
}

.slide span {
    font-weight: 100;
    font-size: 20px;
    color: white;
    letter-spacing: -1px;
}