.what-other-say {
    position: relative;
    background-color: #323e54;
    font-size: 10px;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: #ffffff;
}
.get-to-know {
    color: #12a84e;
}

.custo-subtitle {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.9em;
    position: relative;
}
.custo-subtitle::after {
    position: absolute;
    content: '';
    border: 2.5px solid #12a84e;
    width: 90px;
    left: 42%;
    bottom: 0;
}
.other-say-container {
    position: relative;
    padding: 60px 170px;
    height: 550px;
    overflow: hidden;
    width: 70%;
}

.customer-item {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    left: 0;
    right: 0;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    padding: 10px;
}

.div-border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffffff;
    padding: 34px 65px 45px;
}

.figure {
    text-align: center;
}

.customer-name {
    padding-top: 10px;
}

.stars {
    font-size: 20px;
}

.fa-yellow {
    color: rgb(204, 168, 49);
}

.customer-p {
    font-size: 16px;
}

/* customers btns */
.buttons {
    border: 1px solid white;
    padding: 10px;
    width: 60px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
}

.buttons:hover {
    background-color: #130c0c;
    opacity: 0.7;
}

.prev-button {
    left: 5%;
}

.next-button {
    right: 5%;
}

.btn-right,
.btn-left {
    font-size: 30px;
}

.customer-item.active {
    opacity: 1;
    transform: translateX(0);
}
.customer-item.next {
    transform: translateX(100%);
}
.customer-item.last {
    transform: translateX(-100%);
}

@media screen and (max-width: 730px) {
    .buttons {
        border: 1px solid white;
        padding: 5px;
        width: 30px;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .btn-right,
    .btn-left {
        font-size: 20px;
    }

    .customer-name {
        padding-top: 5px;
        font-size: 14px;
    }

    .customer-p {
        font-size: 12px;
    }

    .other-say-container {
        position: relative;
        padding: 20px 20px;
        height: 500px;
        overflow: hidden;
        width: 70%;
    }

    .div-border {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ffffff;
        padding: 20px 20px;
    }

    .get-to-know {
        color: #12a84e;
        font-size: 15px;
    }

    .custo-subtitle {
        font-size: 1rem;
    }
    .custo-subtitle::after {
        width: 60px;
        left: 37%;
        bottom: 0;
    }
}