/* Reset */
@import './reset.css';

/* Fonts */
@import './fonts/fonts.css';

/* Header */
@import './header/header.css';

/* info-bar */
@import './info-bar/info-bar.css';

/* slider  */
@import './carousel/carousel.css';

/*  Popular Courses  */

/*  Popular Courses  second slider ..MUSA */

/* about us */

/* why us css */

@import './why-us/why-us.css';

/* upcoming events */
@import './upcoming-events/upcoming-events.css';
/* What other people say */

.what-other-say {
    position: relative;
    background-color: #323e54;
    font-size: 10px;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: #ffffff;
}
.get-to-know {
    color: #12a84e;
}

.custo-subtitle {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.9em;
    position: relative;
}
.custo-subtitle::after {
    position: absolute;
    content: '';
    border: 2.5px solid #12a84e;
    width: 90px;
    left: 42%;
    bottom: 0;
}
.other-say-container {
    position: relative;
    padding: 60px 170px;
    height: 550px;
    overflow: hidden;
    width: 70%;
}

.customer-item {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    left: 0;
    right: 0;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    padding: 10px;
}

.div-border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffffff;
    padding: 34px 65px 45px;
}

.figure {
    text-align: center;
}

.customer-name {
    padding-top: 10px;
}

.stars {
    font-size: 20px;
}

.fa-yellow {
    color: rgb(204, 168, 49);
}

.customer-p {
    font-size: 16px;
}

/* customers btns */
.buttons {
    border: 1px solid white;
    padding: 10px;
    width: 60px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
}

.buttons:hover {
    background-color: #130c0c;
    opacity: 0.7;
}

.prev-button {
    left: 5%;
}

.next-button {
    right: 5%;
}

.btn-right,
.btn-left {
    font-size: 30px;
}

.customer-item.active {
    opacity: 1;
    transform: translateX(0);
}
.customer-item.next {
    transform: translateX(100%);
}
.customer-item.last {
    transform: translateX(-100%);
}

@media screen and (max-width: 730px) {
    .buttons {
        border: 1px solid white;
        padding: 5px;
        width: 30px;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .btn-right,
    .btn-left {
        font-size: 20px;
    }

    .customer-name {
        padding-top: 5px;
        font-size: 14px;
    }

    .customer-p {
        font-size: 12px;
    }

    .other-say-container {
        position: relative;
        padding: 20px 20px;
        height: 500px;
        overflow: hidden;
        width: 70%;
    }

    .div-border {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ffffff;
        padding: 20px 20px;
    }

    .get-to-know {
        color: #12a84e;
        font-size: 15px;
    }

    .custo-subtitle {
        font-size: 1rem;
    }
    .custo-subtitle::after {
        width: 60px;
        left: 37%;
        bottom: 0;
    }
}

/* media querry */

/* last slider begins */
.lastSlider {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-title {
    color: #000000;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.lastSliderWrapper {
    position: relative;
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lastCarousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 12px);
    gap: 33px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.lastCarousel::-webkit-scrollbar {
    display: none;
}

.lastCarousel.no-transition {
    scroll-behavior: auto;
}
.lastCarousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.lastCarousel.dragging .s-card {
    cursor: grab;
    user-select: none;
}

.latest-card {
    width: 100%;
    scroll-snap-align: start;
    list-style-type: none;
    position: relative;
    position: relative;
    height: 450px;
    display: flex;
    color: #404040;
    gap: 0;
    flex-direction: column;
    margin-bottom: 30px;
}

.latest-card .img img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    max-height: 200px;
}

.latestDiv {
    position: absolute;
    width: 90%;
    top: 53%;
    left: 5%;
    right: 5%;

    background-color: #ffff;
    border: 1px solid #585858;
    padding: 26px 15px 15px 15px;
    color: #404040;
}
.orientation {
    color: #1c3961;
    font-size: 18px;
    line-height: 1px;
}

.orientationDate {
    line-height: 7px;
    font-size: 16px;
    color: #585858;
}
.orientationText {
    font-size: 13px;
    /* line-height: 15px; */
    margin: 35px 0px 0px;
    color: #585858;
}

.latestBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-left: 12px;
}
.btn-line {
    width: 80px;
    height: 5px;
    background-color: #000000;
}
.latestRight,
.latestLeft {
    border-radius: 50%;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.btn-icon {
    font-size: 25px;
}
.latestRight:hover,
.latestLeft:hover {
    background-color: #585858;
    color: white;
}

.latest-card.dragging .latest-card {
    cursor: grab;
    user-select: none;
}

@media screen and (max-width: 1030px) {
    .lastCarousel {
        grid-auto-columns: calc((100% / 2) - 6px);
        gap: 26px;
    }
    .latestDiv {
        position: absolute;
        top: 68%;
        transform: translateY(-50%);
        left: 5%;
        background-color: #ffff;
        border: 1px solid #585858;
        padding: 22px 10px 15px 15px;
        color: #404040;
    }
}

@media screen and (max-width: 1000px) {
    .lastCarousel {
        grid-auto-columns: 100%;
        gap: 33px;
    }

    .latestDiv {
        position: absolute;
        top: 85%;
    }
    .latest-card div img {
        height: 400px;
    }
    .orientation {
        color: #1c3961;
        font-size: 18px;
        line-height: 1px;
    }

    .orientationDate {
        line-height: 7px;
        font-size: 16px;
        color: #585858;
    }
    .orientationText {
        font-size: 13px;
        /* line-height: 15px; */
        margin: 35px 0px 0px;
        color: #585858;
    }
}
@media screen and (max-width: 600px) {
    .lastCarousel {
        grid-auto-columns: 100%;
        gap: 33px;
    }
    .lastCarousel .latest-card {
        scroll-snap-align: center;
    }
    .latestDiv {
        position: absolute;

        top: 80%;
    }
    .latest-card div img {
        height: 300px;
    }
    .latest-card {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 400px;
    }
    .orientation {
        color: #1c3961;
        font-size: 13px;
        line-height: 10px;
    }

    .orientationDate {
        line-height: 6px;
        font-size: 12px;
        color: #585858;
    }
    .orientationText {
        font-size: 10px;
        /* line-height: 15px; */
        margin: 15px 0px 0px;
        color: #585858;
    }
}

/* last slider ends */
/* footer */

.footer {
    background-color: #030101;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-footer {
    display: flex;
    background-color: #f3f3f3;
    color: #404040;
    justify-content: space-around;
    padding-top: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.query {
    font-size: 20px;
}

.nested-footer {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.footer-left {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
}

.f-text1 {
    width: 260px;
    font-size: 18px;
    margin-bottom: 25px;
}

.c {
    margin-right: 10px;
}

.hr-item {
    color: white;
    background-color: white;
    height: 2px;
}
.hr-header {
    color: white;
    background-color: white;
    height: 2px;
    width: 40px;
}

.fa-angle-right {
    margin-right: 5px;
}
.nested-red {
    display: flex;
    gap: 12px;
    padding: 10px 2px;
}

.f-title {
    font-size: 16px;
}
.f-price {
    font-size: 14px;
}

.red {
    height: 70px;
    width: 100px;
    border-radius: 10px;
    background-color: red;
}
.footer-right {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
}

.f-last {
    display: flex;
    flex-direction: column;
}

.f-input {
    width: 100%;
    background-color: #000000;
    padding: 14px;
    border: 1px solid white;
}
textarea {
    width: 100%;
    background-color: #000000;
    margin-top: 10px;
    border: 1px solid white;
}

.f-btn {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease-in-out;
}
.f-btn:hover {
    background-color: #000000;
    color: #fff;
    border: 1px solid white;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-bottom1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
}
.footer-bottom1 p:nth-child(1) {
    background-color: #f0eaea;
    height: 5px;
    width: 36%;
    color: #fff;
    margin-left: 50px;
}

.hrafter {
    background-color: #fff;
    height: 5px;
    width: 40%;
    color: #fff;
}
.b {
    margin-right: 15px;
    margin-left: 4px;
}

.footer-bottom2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* media querry */

@media screen and (max-width: 1025px) {
    .nested-footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-left {
        gap: 20px;
        padding: 0px;
        margin: 0px;
    }

    .red {
        height: 50px;
        width: 80px;
        border-radius: 10px;
        background-color: red;
    }
    .footer-right {
        display: flex;
        padding: 0px;
        margin: 0px;
        gap: 20px;
    }
    .hr-item {
        width: 200px;
    }
    .f-title {
        font-size: 10px;
    }

    .f-titles {
        font-size: 20px;
    }

    .f-input {
        width: 70%;
        background-color: #000000;
        padding: 10px;
        border: 1px solid white;
    }
    textarea {
        width: 70%;
        background-color: #000000;
        margin-top: 10px;
        border: 1px solid white;
    }

    .f-btn {
        width: 70%;
        margin-top: 10px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 4px;
        transition: all 0.3s ease-in-out;
    }
    .footer-bottom1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .footer-bottom1 p:nth-child(1) {
        background-color: #f0eaea;
        height: 5px;
        width: 32%;
        color: #fff;
        margin-left: 40px;
    }

    .hrafter {
        background-color: #fff;
        height: 5px;
        width: 36%;
        color: #fff;
    }
    .b {
        margin-right: 10px;
    }
}

/* tablets */

@media screen and (max-width: 769px) {
    .top-footer {
        padding: 12px;
    }
    .nested-footer {
        display: flex;
        justify-content: center;
        margin: 0px 30px;
        flex-wrap: wrap;
    }

    .footer-left {
        width: 100%;
        gap: 20px;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        flex: 1;
    }

    .red {
        height: 50px;
        width: 80px;
        border-radius: 10px;
        background-color: red;
    }
    .footer-right {
        display: flex;
        padding-left: 10px;
        flex: 1;
        padding: 0px;
        margin: 0px;
        gap: 10px;
    }
    .hr-item {
        width: 260px;
    }
    .f-title {
        font-size: 15px;
    }

    .f-titles {
        font-size: 20px;
    }

    .f-input {
        width: 100%;
        background-color: #000000;
        padding: 10px;
        border: 1px solid white;
    }
    textarea {
        width: 100%;
        background-color: #000000;
        margin-top: 10px;
        border: 1px solid white;
    }

    .f-btn {
        width: 100%;
        margin-top: 10px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 4px;
        transition: all 0.3s ease-in-out;
    }

    .footer-bottom1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .footer-bottom1 p:nth-child(1) {
        background-color: #f0eaea;
        height: 5px;
        width: 32%;
        color: #fff;
        margin-left: 50px;
    }

    .hrafter {
        background-color: #fff;
        height: 5px;
        width: 36%;
        color: #fff;
    }
    .footer-bottom2 {
        font-size: 10px;
    }
}

/* between tablet and mobile displaying none */
/*Mobile */
@media screen and (max-width: 700px) {
    .emptyp,
    .line,
    .hrbefore,
    .hrafter {
        display: none;
    }
    .footer-bottom1 {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-left: 0;
    }

    .footer-bottom2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 0;
        font-size: 12px;
    }
}

/*Mobile */

@media screen and (max-width: 426px) {
    .top-footer {
        padding: 10px;
    }
    .nested-footer {
        display: flex;
        justify-content: center;
        margin: 0px 30px;
        flex-wrap: wrap;
    }

    .footer-left {
        width: 100%;
        gap: 12px;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        flex: 1;
    }

    .red {
        height: 50px;
        width: 80px;
        border-radius: 10px;
        background-color: red;
    }
    .footer-right {
        display: flex;
        padding-left: 10px;
        flex: 1;
        padding: 0px;
        margin: 0px;
        gap: 10px;
        width: 100%;
    }
    .hr-item {
        width: 200px;
    }
    .f-title {
        font-size: 10px;
    }

    .f-titles {
        font-size: 15px;
    }

    .f-text1 {
        font-size: 13px;
        width: 150px;
    }
    .cparent,
    .c {
        font-size: 12px;
    }

    .link {
        font-size: 18px;
    }
    .f-input {
        width: 100%;
        background-color: #000000;
        padding: 10px;
        border: 1px solid white;
    }
    textarea {
        width: 100%;
        background-color: #000000;
        margin-top: 10px;
        border: 1px solid white;
    }

    .f-btn {
        width: 100%;
        margin-top: 10px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 4px;
        transition: all 0.3s ease-in-out;
    }

    .top-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .query {
        font-size: 15px;
    }
}

@media screen and (max-width: 321px) {
    .nested-footer {
        display: flex;
        justify-content: center;
        margin: 0px 30px;
        flex-wrap: wrap;
    }

    .footer-left {
        width: 100%;
        gap: 12px;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        flex: 1;
    }

    .red {
        height: 30px;
        width: 60px;
        border-radius: 7px;
        background-color: red;
    }
    .footer-right {
        display: flex;
        padding-left: 10px;
        flex: 1;
        padding: 0px;
        margin: 0px;
        gap: 7px;
        width: 100%;
    }
    .hr-item {
        width: 200px;
    }
    .f-title {
        font-size: 10px;
    }

    .f-titles {
        font-size: 15px;
    }

    .f-text1 {
        font-size: 13px;
        width: 200px;
    }
    .cparent,
    .c {
        font-size: 12px;
        padding: 0px;
    }

    .link {
        font-size: 18px;
    }
    .f-input {
        width: 100%;
        background-color: #000000;
        padding: 3px;
        border: 1px solid white;
    }
    textarea {
        width: 100%;
        height: 30%;
        background-color: #000000;
        margin-top: 10px;
        border: 1px solid white;
    }

    .f-btn {
        width: 100%;
        margin-top: 10px;
        background-color: white;
        color: black;
        text-align: center;
        padding: 2px;
        transition: all 0.3s ease-in-out;
    }

    .top-footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 7px;
    }

    .query {
        font-size: 15px;
        padding-top: 7px;
    }
}

/*  galleris  */

.father-gallery {
    width: 100%;
    margin-top: 10px;
}

.post {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.child-gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: 0;
    width: 100%;
    box-sizing: content-box;
    overflow: hidden;
}

.gallery-image {
    height: 200px;
    width: 341px;
    box-sizing: content-box;
    overflow: hidden;
    cursor: pointer;
}

.gallery-image:hover {
    filter: brightness(45%);
    transition: all 1s ease 0s;
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.623);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    color: white;
    font-size: 230%;
    position: absolute;
    top: 470px;
    right: 470px;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
}

.popup-image #btn-right {
    position: absolute;
    top: 50%;
    right: 45%;
    color: #fff;
    font-size: 40px;
    cursor: pointer;

    /*  we need to add functinality css that appear and vanish the btn later  */
}

.popup-image #btn-left {
    position: absolute;
    top: 50%;
    left: 45%;
    color: #fff;
    font-size: 40px;
    cursor: pointer;

    /*  we need to add functinality css that appear and vanish the btn later  */
}

@media screen and (max-width: 2560px) {
    .child-gallery {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        justify-content: center;
        grid-gap: 0;
        width: 100%;
        box-sizing: content-box;
        overflow: hidden;
    }

    .gallery-image {
        height: 200px;
        width: 341px;
        box-sizing: content-box;
        overflow: hidden;
        cursor: pointer;
    }
}

@media screen and (max-width: 991px) {
    .child-gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        justify-content: center;
        grid-gap: 0;
        width: 100%;
        box-sizing: content-box;
        overflow: hidden;
    }
}

@media screen and (max-width: 375px) {
    .child-gallery {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 426px) {
    .child-gallery {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

/* Slider CSS */

/*  slider complete */

/* SLIDER PINHAS001 */

.all_btns {
    display: flex;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    color: #000000;
}

.all_btns .left {
    margin-left: 10px;
}

.all_btns .right {
    margin-right: 10px;
}

.slider_pi {
    position: relative;
    width: 100%;
    height: 700px;
}

#slider_pi h2 {
    margin: 35px;
    text-align: center;
    font-weight: bold;
}

.wrapper_pi {
    overflow: hidden;
    position: relative;
    width: 100%;

    z-index: 1;
}

.slides_pi {
    display: flex;
    position: relative;
    top: 0;
    width: 20000px;
}

.shifting {
    transition: left 0.4s ease-out;
}

.slide_pi {
    height: 500px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;

    border-radius: 2px;
    text-align: center;
}

.las_slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carte {
    width: 400px;
    height: 450px;
    position: relative;
    border: 1px solid black;
    background-image: url('../assets/img/course-pic.jpg');
    background-size: 100% 50%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.text {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 65%;
    font-size: 15px;
}

.text p {
    text-align: start;
    margin: 5px;
}

.txt {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 65%;
    font-size: 15px;
}

.txt p {
    text-align: start;
    margin: 5px;
}

.tst {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 65%;
    font-size: 15px;
}

.tst p {
    text-align: start;
    margin: 5px;
}

.green {
    background-color: #00944f;
    margin-top: 50%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.green p {
    color: white;
    margin: 5px;
    font-size: 20px;
}

/*  Latest News  */

.slider_flo {
    position: relative;
    width: 100%;
    height: 700px;
}

.wrapper_flo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 550px;
    z-index: 1;
}

.slides_flo {
    display: flex;
    position: relative;
    top: 0;
    width: 20000px;
}

.slide_flo {
    height: 600px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;

    border-radius: 2px;
    text-align: center;
}

.all_click {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #000000;
}

.right_click {
    margin-right: 20px;
}

.left_click {
    margin-left: 20px;
}

.sliderHouse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-bottom: 170px;
}

.item1 {
    position: relative;
    width: 630px;
    height: 360px;
    background-image: url('../assets/img/latest-new-img.jpg');
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.shifting {
    transition: left 0.4s ease-out;
}

.grid {
    background-color: white;
    height: 175px;
    margin-top: 35%;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    justify-content: start;
    border: 1px solid black;
}

.grid h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: left;
    padding: 19px;
}

.grid h1 span {
    font-weight: bold;
    font-size: 25px;
}

.grid p {
    font-size: 15px;
    text-align: left;
    padding: 15px;
    font-size: 15px;
}

#slider_pi h2 {
    margin: 35px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

.secondCarousel {
    display: flex;
    position: relative;
    top: 0;

    width: 20000px;
}
